
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif; 
}

/* Shared Style */

:root{
    --primary-font-size: 3rem;
    --secondary-font-size: 1rem;
    --medium-font-size:1.25rem;
    --primary-color: rgba(13, 9, 37, 1);
    --secondary-color: rgba(108, 108, 108, 1);
    --third-color: rgba(231, 111, 81, 1);
    --fourth-color: rgba(255, 255, 255, 1);
}

.btn-primary{
    background-color: var(--third-color);
    padding: 0.7rem 1.5rem;
    font-size: var(--secondary-font-size);
    color: var(--fourth-color);
    border-radius: 0.3rem;
    border: none;

}

.section-title{
    font-size: var(--primary-font-size);
    color: var(--primary-color);
}

.section-description{
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);

}

/* Header start here  */

header{
    background-color: rgba(38, 70, 83, 1);
}

.header-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container .navigation{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    max-width: 10%;
}

header .logo img{
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    color: var(--fourth-color);
    font-size: var(--secondary-font-size);
    text-decoration: none;
}

nav .btn-primary{
    margin-left: 4.25rem;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: rgba(255, 255, 255, 1);
    font-size: var(--secondary-font-size);
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0 5.3rem 0;
}

.banner-content{
    width: 45%;

}

.banner-title{
    color: rgba(255, 255, 255, 1);
}

.banner-content .banner-subtitle,
.banner-content .banner-text{
    font-size: 1rem;
    font-weight: 300;
    color: rgba(224, 224, 224, 1);
}

.banner-content .banner-text{
    margin: 1.2rem 0;
}

.banner-img{
    width: 45%;
}

.banner-img img{
    width: 100%;
}

/* Main start here  */

main>section{
    max-width: 1100px;
    margin: 5rem auto 0 auto;
    padding: 20px;
}

/* Feature section start here  */

.feature-section{

}

.feature-section-head {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.feature-section .section-subtitle{
    color: var(--third-color);
    position: relative;
}

.section-subtitle::after {
    position: absolute;
    content: " ";
    width: 10%;
    height: 2px;
    background-color: var(--third-color);
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
}

.feature-section .feature-section-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: 5rem 0;
}


.feature-section .feature{
    max-width: 70%;
}



.feature-section .feature img{
    width: 100%;
}

.feature-section .feature-1 img,
.feature-section .feature-3 img{
    filter: grayscale(1);
}

/* Latest News section  */

.latest-news-section{
    max-width: 1100px;
    margin: auto;
}
.latest-news-section .latest-news-section-head{
max-width: 60%;
text-align: center;
margin: auto;
margin-bottom: 3rem;
}

.latest-news-section .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.latest-news-section .card{
    padding: 1.25rem;
    border: 2px solid #E5E5E5 ;
    border-radius: 5px;
}

.latest-news-section .card img{
  width: 100%;
  margin-bottom: 2.5rem;

}

.latest-news-section .card .card-title{
    margin-bottom: 0.6rem;
    color: rgba(24, 25, 31, 1);
}

.card .section-description{
    margin-bottom: 2.5rem;
}

.card-2 .btn-primary,
.card-3 .btn-primary {
     background: none;
    color: var(--third-color);
    border: 1px solid var(--third-color);
}

/* client review section  */
.clients-review-section .clients-review-title{
    text-align: center;
}

.clients-review-section .clients-review-title span{
    color: var(--third-color);
}

.clients-review-section .review-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-top: 3.25rem;
}


.clients-review-section .review-card {
    padding: 1.25rem;
    border: 1px solid rgba(213, 229, 251, 1);
    border-radius: 0.4rem;
    text-align: center;
}


.clients-review-section .review-card img{
    width: 65%;
    margin-bottom: 1.25rem;
}

.clients-review-section .client-name{
  margin: 1rem auto;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(35, 166, 240, 1);
}

.clients-review-section .clients-title{
    font-size: 0.9rem;
    font-weight: 600;
}

.clients-review-section .review-stars{
    margin: 1rem auto;
}

.clients-review-section .review-stars .fa-star{
    color: rgba(231, 124, 64, 1);
    
}

/* ask question section  */

.ask-question-section{

}

.ask-question-section-title{
    text-align: center;
    margin-bottom: 6.25rem;
}

.ask-question-section-title span{
    color: var(--third-color);
}

.ask-question-section .ask-question-section-body{
        display: flex;
        justify-content: space-between;
}

.ask-question-section .question-div{
    padding: 1.5rem;
    border: 1px solid rgba(213, 229, 251, 1);
    border-radius: 0.3rem;
    margin-bottom: 0.8rem;
}

.ask-question-section .question{
font-size: var(--medium-font-size);
line-height: 1.6rem;
color: rgba(56, 56, 56, 1);
font-weight: 500;
position: relative;
}

.ask-question-section .question-answer{
    margin-top: 0.5rem;
    color: var(--secondary-color);
    font-size: var(--secondary-color);
    line-height: 2.75rem;
}


.question-inner{
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.question-inner i{
    margin-left: 1.25rem;
}

.ask-question-section-img{
    width: 40%;
}

.ask-question-section-img img{
    width: 100%;
}

.ask-question-section-content{
width: 50%;
}

/* Footer section  */
footer{
background-color: rgba(11, 13, 23, 1);

}

footer .footer-section {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 3.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
}

.footer-section .left-col{
    width: 60%;

}

.footer-section .right-col{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-section div{
    margin-bottom: 1.25rem;
}

.footer-section div a{
        text-decoration: none;
        margin-right: 1.25rem;
        color: var(--fourth-color); 
}

.footer-section .left-col span{
    color: rgba(217, 219, 225, 1);
    font-size: 0.9rem;
}

.footer-section .right-col .footer-playstore-title{
    color: var(--fourth-color);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.footer-section .right-col img{
    width:50%;
}

.footer-section .right-col .footer-img{
    text-align: center;
    margin-bottom: 0;
flex-direction: column;
}



